body {
  background-color: midnightblue;
  color: antiquewhite;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Play';
  /*text-align: center;*/
}
#clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  background-color: cornflowerblue;;
}
#title {
  margin: 0;
  font-size: 2.5em;
  background-color: cadetblue;
}
#main-controls {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-top: 5%;
  background-color: burlywood;
}
#break {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  background-color: darkgreen;
  font-size: 1.5em;
}
#break-label {
  display: flex;
  justify-content: center;
  width: 250px;
  background-color: deeppink;
}
#break-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  width: 125px;
  background-color: blue;
}
#break-decrement {
  background-color: forestgreen;
}
#break-length {
  background-color: fuchsia;
}
#break-increment {
  background-color: gray;
}
#session {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  background-color: blueviolet;
  font-size: 1.5em;
}
#session-label {
  display: flex;
  justify-content: center;
  width: 250px;
  background-color: deepskyblue;
}
#session-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  width: 125px;
  background-color: brown
}
#session-decrement {
  background-color: forestgreen;
}
#session-length {
  background-color: fuchsia;
}
#session-increment {
  background-color: gray;
}
#timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  width: 300px;
  box-sizing: border-box;
  padding: 30px;
  border: 10px solid blue;
  border-radius: 50px;
  background-color: coral;
}
#timer-label {
  background-color: darkmagenta;
  font-size: 1.5em;
}
#time-left {
  margin-top: 5%;
  background-color: darkred;
  font-size: 3em;
  font-family: 'Share Tech Mono';
}
#timer-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  width: 125px;
  background-color: darkgoldenrod;
  font-size: 1.5em;
}
#start_stop {
  background-color: darkslategray;
}
#reset {
  background-color: darkslategrey;
}